body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
}
p{
   padding: 10px;
}
span{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    text-align: justify;
}
.half-width img{
    width: 50%;
    padding-left: 100px;
    margin-top: 100px;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 750;
    border-radius: 5px;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

